
@media screen and (max-width: 900px){

.header{
	flex-flow: column wrap;
	align-items: center; 
}

.nav a{
	margin: 10px 15px;
}

.portada h1{
	font-size: 38px;
}
} 

@media screen and (max-width: 800px){

	.texto_logo{
		font-size: 30px;
	}

	.portada h1{
		font-size: 34px;
		margin: 30px 50px;
	}

	.portada p{
		font-size: 24px;
	}

	.name{
		font-size: 28px;
	}

	main h2,
	.contact_items h2,
	.about_me h2{
		font-size: 38px;
	}

}

@media screen and (max-width: 600px){

	.nav a{
	font-size: 14px;
	}

	.texto_logo{
		font-size: 28px;
	}

	.portada h1{
		font-size: 32px;
		margin: 30px 50px;
	}

	.portada p{
		font-size: 22px;
	}

	.name{
		font-size: 26px;
	}

	#btn_servicios{
		font-size: 22px;
		padding: 15px;
	}

	main h2,
	.contact_items h2,
	.about_me h2{
		font-size: 36px;
	}

	.servicios p,
	.servicios ul li,
	.contact_items p,
	.about_me article,
	footer p,
	#mensaje p{
	font-size: 24px;
	}

	.servicios span,
	.importante span{
		font-size: 22px;
	}

	.contact_items i{
		font-size: 30px;
		margin: 20px 25px;
	}

	.about_me img{
	width: 120px;
	height: 120px;
	}
}

@media screen and (max-width: 500px){

	.portada h1{
		font-size: 30px;
	}

	.portada p{
		font-size: 20px;
	}

	.name{
		font-size: 24px;
	}

	main h2,
	.contact_items h2,
	.about_me h2{
		font-size: 32px;
	}

	.servicios p,
	.servicios ul li,
	.contact_items p,
	.about_me article,
	footer p,
	#mensaje p{
	font-size: 22px;
	}

	.contact_items i{
		font-size: 26px;
		margin: 20px 25px;
	}

	.open_menu i,
	.close_menu i{
	font-size: 24px;
	}

	
}

@media screen and (max-width: 450px){

	.texto_logo{
		font-size: 26px;
	}

	.portada h1{
		font-size: 28px;
		margin: 30px;
	}

	.portada p{
		font-size: 20px;
		margin: 25px;
	}

	#btn_servicios{
		font-size: 21px;
		padding: 12px;
		width: 185px;
	}

	main h2,
	.contact_items h2,
	.about_me h2{
		font-size: 28px;
	}

	.servicios p,
	.servicios ul li,
	.contact_items p,
	.about_me article,
	footer p,
	#mensaje p{
	font-size: 20px;
	}

	.servicios span,
	.importante span{
		font-size: 22px;
	}

	.contact_items i{
		margin: 20px 25px;
	}

	#mensaje{
		padding: 30px;
	}
}

@media screen and (max-width: 400px){

	.portada h1{
		font-size: 26px;
		margin: 30px;
	}

	.name{
		font-size: 23px;
	}

	.servicios span,
	.importante span{
		font-size: 21px;
	}

	.contact_items i{
		font-size: 24px;
		margin: 20px;
	}

}

@media screen and (max-width: 350px){

	.texto_logo{
		font-size: 24px;
	}

	.portada h1{
		font-size: 24px;
	}

	.portada p{
		font-size: 18px;

	}
		#btn_servicios{
		font-size: 20px;
	}

	.name{
		font-size: 22px;
	}

	main h2,
	.contact_items h2,
	.about_me h2{
		font-size: 26px;
	}

	.servicios p,
	.servicios ul li,
	.contact_items p,
	.about_me article,
	footer p,
	#mensaje p{
	font-size: 19px;
	}

	.servicios span,
	.importante span{
		font-size: 20px;
	}

	.contact_items i{
		margin: 15px;
	}
}

